<a href="https://colab.research.google.com/github/davlatrajabov/ML-Course2/blob/Project1/%22MLCU_Week_1_Project_1%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [37]:
os.chdir('/content/sample_data')

In [ ]:
#read file
df = pd.read_csv('/content/Salaries.csv', on_bad_lines='skip')

In [38]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,...,overtimepay_deviation,overtimepay_deviation_sqr,benifit_deviation,benifit_deviation_sqr,totalpay_deviation,totalpay_deviation_sqr,totalpaybenifits_deviation,totalpaybenifits_deviation_sqr,year_deviation,year_deviation_sqr
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011.0,...,-4890.29814,2.391502e+07,NaN,NaN,495027.247237,2.450520e+11,474745.242676,2.253830e+11,-1.631963,2.663302
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,...,240241.58186,5.771602e+10,NaN,NaN,466341.097237,2.174740e+11,446059.092676,1.989687e+11,-1.631963,2.663302
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011.0,...,101197.88186,1.024101e+10,NaN,NaN,262711.727237,6.901745e+10,242429.722676,5.877217e+10,-1.631963,2.663302
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011.0,...,51230.41186,2.624555e+09,NaN,NaN,259775.427237,6.748327e+10,239493.422676,5.735710e+10,-1.631963,2.663302
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011.0,...,4846.70186,2.349052e+07,NaN,NaN,253805.007237,6.441698e+10,233523.002676,5.453299e+10,-1.631963,2.663302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277366,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.0,0.0,2014,...,-4890.29814,2.391502e+07,-25010.776691,6.255390e+08,-72568.182763,5.266141e+09,-92850.187324,8.621157e+09,1.368037,1.871526
277368,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.0,0.0,2014,...,-4890.29814,2.391502e+07,-25010.776691,6.255390e+08,-72568.182763,5.266141e+09,-92850.187324,8.621157e+09,1.368037,1.871526
277369,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.0,0.0,2014,...,-4890.29814,2.391502e+07,-25010.776691,6.255390e+08,-72568.182763,5.266141e+09,-92850.187324,8.621157e+09,1.368037,1.871526
277370,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.0,0.0,2014,...,-4890.29814,2.391502e+07,-25010.776691,6.255390e+08,-72568.182763,5.266141e+09,-92850.187324,8.621157e+09,1.368037,1.871526
277374,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,...,-4890.29814,2.391502e+07,-25010.776691,6.255390e+08,-73186.312763,5.356236e+09,-93468.317324,8.736326e+09,1.368037,1.871526

# Removing NaN and Not Provided

In [39]:
df = df[df['Benefits'] != 'Not Provided']
benifit = df['Benefits'].dropna()
benifit = pd.to_numeric(benifit, errors='coerce')

In [40]:
basepay = df['BasePay'].dropna()
basepay = pd.to_numeric(basepay, errors='coerce')

In [41]:
overtimepay = df['OvertimePay'].dropna()
overtimepay = pd.to_numeric(overtimepay, errors='coerce')

In [42]:
totalpay = df['TotalPay'].dropna()
totalpay = pd.to_numeric(totalpay, errors='coerce')

In [43]:
totalpaybenifits = df['TotalPayBenefits'].dropna()
totalpaybenifits = pd.to_numeric(totalpaybenifits, errors='coerce')

In [44]:
year = df['Year'].dropna()
year = pd.to_numeric(year, errors='coerce')

# Standard deviation and variance without (std() and variance())

BasePay

In [45]:
df['basepay_deviation'] = basepay - basepay.mean()
df['basepay_deviation_sqr'] = df['basepay_deviation']**2
print(f"deviation: {df['basepay_deviation'].sum()}")
print(f"variance: {df['basepay_deviation_sqr'].sum()/len(df)}")

deviation: 8.344650268554688e-06
variance: 1842834349.7403204

OvertimePay

In [46]:
df['overtimepay_deviation'] = overtimepay - overtimepay.mean()
df['overtimepay_deviation_sqr'] = df['overtimepay_deviation']**2
print(f"deviation: {df['overtimepay_deviation'].sum()}")
print(f"variance: {df['overtimepay_deviation_sqr'].sum()/len(df)}")

deviation: 1.7881393432617188e-07
variance: 127615581.33362657

Benefits

In [47]:
df['benifit_deviation'] = benifit - benifit.mean()
df['benifit_deviation_sqr'] = df['benifit_deviation']**2
print(f"deviation: {df['benifit_deviation'].sum()}")
print(f"variance: {df['benifit_deviation_sqr'].sum()/len(df)}")

deviation: -2.9802322387695312e-08
variance: 192699035.78534052

TotalPay

In [48]:
df['totalpay_deviation'] = totalpay - totalpay.mean()
df['totalpay_deviation_sqr'] = df['totalpay_deviation']**2
print(f"deviation: {df['totalpay_deviation'].sum()}")
print(f"variance: {df['totalpay_deviation_sqr'].sum()/len(df)}")

deviation: 7.3909759521484375e-06
variance: 2578149597.9695115

TotalPayBenefits

In [49]:
df['totalpaybenifits_deviation'] = totalpaybenifits - totalpaybenifits.mean()
df['totalpaybenifits_deviation_sqr'] = df['totalpaybenifits_deviation']**2
print(f"deviation: {df['totalpaybenifits_deviation'].sum()}")
print(f"variance: {df['totalpaybenifits_deviation_sqr'].sum()/len(df)}")

deviation: 7.510185241699219e-06
variance: 4130734846.3563843

Year

In [50]:
df['year_deviation'] = year - year.mean()
df['year_deviation_sqr'] = df['year_deviation']**2
print(f"deviation: {df['year_deviation'].sum()}")
print(f"variance: {df['year_deviation_sqr'].sum()/len(df)}")

deviation: -2.9296643333509564e-08
variance: 1.1600473420883683

With std() and variance()

In [51]:
# 2.Calculate standard deviation and variance by applying the methods (std() и variance())
print(f'BasePay: std = {basepay.std()}, variance = {basepay.var()}')
print(f'OvertimePay: std = {overtimepay.std()}, variance = {overtimepay.var()}')
print(f'Benefits: std = {benifit.std()}, variance = {benifit.var()}')
print(f'TotalPay: std = {totalpay.std()}, variance = {totalpay.var()}')
print(f'TotalPayBenefits: std = {totalpaybenifits.std()}, variance = {totalpaybenifits.var()}')
print(f'Year: std = {year.std()}, variance = {year.var()}')

BasePay: std = 43022.42388118897, variance = 1850928956.6126993
OvertimePay: std = 11296.767751795482, variance = 127616961.63800634
Benefits: std = 15413.593314644164, variance = 237578858.86924326
TotalPay: std = 50776.031448713125, variance = 2578205369.680704
TotalPayBenefits: std = 64271.83585929522, variance = 4130868884.724187
Year: std = 1.0770801805138195, variance = 1.1601017152556818

# Сoefficient of covariance and range

Covariance

In [52]:
cVarOfBasePay = 100 * basepay.std()/basepay.mean()
cVarOfOvertimePay = 100 * overtimepay.std()/overtimepay.mean()
cVarOfBenefits = 100 * benifit.std()/benifit.mean()
cVarOfTotalPay = 100 * totalpay.std()/totalpay.mean()
cVarOfTotalPayBenefits = 100 * totalpaybenifits.std()/totalpaybenifits.mean()
cVarOfYear = 100 * year.std()/year.mean()


print(f"cVarOfBasePay: {round(cVarOfBasePay, 2)}%")
print(f"cVarOfOvertimePay: {round(cVarOfOvertimePay, 2)}%")
print(f"cVarOfBenefits: {round(cVarOfBenefits, 2)}%")
print(f"cVarOfTotalPay: {round(cVarOfTotalPay, 2)}%")
print(f"cVarOfTotalPayBenefits: {round(cVarOfTotalPayBenefits, 2)}%")
print(f"cVarOfYear: {round(cVarOfYear, 2)}%")

cVarOfBasePay: 66.75%
cVarOfOvertimePay: 231.0%
cVarOfBenefits: 61.63%
cVarOfTotalPay: 69.97%
cVarOfTotalPayBenefits: 69.22%
cVarOfYear: 0.05%

Range

In [53]:
rangeOfBasePay = basepay.max() - basepay.min()
rangeOfOvertimePay = overtimepay.max() - overtimepay.min()
rangeOfBenefits = benifit.max() - benifit.min()
rangeOfTotalPay = totalpay.max() - totalpay.min()
rangeOfTotalPayBenefits = totalpaybenifits.max() - totalpaybenifits.min()
rangeOfYear = year.max() - year.min()


print(f"rangeOfBasePay: {rangeOfBasePay}")
print(f"rangeOfOvertimePay: {rangeOfOvertimePay}")
print(f"rangeOfBenefits: {rangeOfBenefits}")
print(f"rangeOfTotalPay: {rangeOfTotalPay}")
print(f"rangeOfTotalPayBenefits: {rangeOfTotalPayBenefits}")
print(f"rangeOfYear: {rangeOfYear}")

rangeOfBasePay: 319441.02
rangeOfOvertimePay: 245131.89
rangeOfBenefits: 177167.56000000003
rangeOfTotalPay: 568213.56
rangeOfTotalPayBenefits: 568213.56
rangeOfYear: 3.0

# Calculate measures of central tendency

MEAN()

In [54]:
print(f"meanOfBasePay: {round(basepay.mean(), 3)}")
print(f"meanOfOvertimePay: {round(overtimepay.mean(), 3)}")
print(f"meanOfBenefits: {round(benifit.mean(), 3)}")
print(f"meanOfTotalPay: {round(totalpay.mean(), 3)}")
print(f"meanOfTotalPayBenefits: {round(totalpaybenifits.mean(), 3)}")
print(f"meanOfYear: {round(year.mean(), 3)}")

meanOfBasePay: 64452.738
meanOfOvertimePay: 4890.298
meanOfBenefits: 25010.777
meanOfTotalPay: 72568.183
meanOfTotalPayBenefits: 92850.187
meanOfYear: 2012.632

MEDIAN()

In [55]:
print(f"meanOfBasePay: {round(basepay.median(), 3)}")
print(f"meanOfOvertimePay: {round(overtimepay.median(), 3)}")
print(f"meanOfBenefits: {round(benifit.median(), 3)}")
print(f"meanOfTotalPay: {round(totalpay.median(), 3)}")
print(f"meanOfTotalPayBenefits: {round(totalpaybenifits.median(), 3)}")
print(f"meanOfYear: {round(year.median(), 3)}")

meanOfBasePay: 63053.83
meanOfOvertimePay: 0.0
meanOfBenefits: 28628.68
meanOfTotalPay: 68431.195
meanOfTotalPayBenefits: 91872.55
meanOfYear: 2013.0

MODE()

In [56]:
print(f"meanOfBasePay: {round(basepay.mode(), 3)}")
print(f"meanOfOvertimePay: {round(overtimepay.mode(), 3)}")
print(f"meanOfBenefits: {round(benifit.mode(), 3)}")
print(f"meanOfTotalPay: {round(totalpay.mode(), 3)}")
print(f"meanOfTotalPayBenefits: {round(totalpaybenifits.mode(), 3)}")
print(f"meanOfYear: {round(year.mode(), 3)}")

meanOfBasePay: 0    0.0
Name: BasePay, dtype: float64
meanOfOvertimePay: 0    0.0
Name: OvertimePay, dtype: float64
meanOfBenefits: 0    0.0
Name: Benefits, dtype: float64
meanOfTotalPay: 0    0.0
Name: TotalPay, dtype: float64
meanOfTotalPayBenefits: 0    7959.18
Name: TotalPayBenefits, dtype: float64
meanOfYear: 0    2014.0
Name: Year, dtype: float64

MIDRANGE

In [57]:
midRangeOfBasePay = (basepay.max() + basepay.min())/2
midRangeOfOvertimePay = (overtimepay.max() + overtimepay.min())/2
midRangeOfBenefits = (benifit.max() + benifit.min())/2
midRangeOfTotalPay = (totalpay.max() + totalpay.min())/2
midRangeOfTotalPayBenefits = (totalpaybenifits.max() + totalpaybenifits.min())/2
midRangeOfYear = (year.max() + year.min())/2


print(f"midRangeOfBasePay: {midRangeOfBasePay}")
print(f"midRangeOfOvertimePay: {midRangeOfOvertimePay}")
print(f"midRangeOfBenefits: {midRangeOfBenefits}")
print(f"midRangeOfTotalPay: {midRangeOfTotalPay}")
print(f"midRangeOfTotalPayBenefits: {midRangeOfTotalPayBenefits}")
print(f"midRangeOfYear: {midRangeOfYear}")

midRangeOfBasePay: 159554.5
midRangeOfOvertimePay: 122565.935
midRangeOfBenefits: 88549.89
midRangeOfTotalPay: 283488.65
midRangeOfTotalPayBenefits: 283488.65
midRangeOfYear: 2012.5

# Describe() method

In [58]:
basepay.describe()

count    276155.000000
mean      64452.738165
std       43022.423881
min        -166.010000
25%       29068.200000
50%       63053.830000
75%       92989.930000
max      319275.010000
Name: BasePay, dtype: float64

In [59]:
overtimepay.describe()

count    277365.000000
mean       4890.298140
std       11296.767752
min          -0.010000
25%           0.000000
50%           0.000000
75%        4272.050000
max      245131.880000
Name: OvertimePay, dtype: float64

In [60]:
benifit.describe()

count    224972.000000
mean      25010.776691
std       15413.593315
min         -33.890000
25%       11534.990000
50%       28628.680000
75%       35566.990000
max      177133.670000
Name: Benefits, dtype: float64

In [61]:
totalpay.describe()

count    277362.000000
mean      72568.182763
std       50776.031449
min        -618.130000
25%       31231.590000
50%       68431.195000
75%      103525.580000
max      567595.430000
Name: TotalPay, dtype: float64

In [62]:
totalpaybenifits.describe()

count    277359.000000
mean      92850.187324
std       64271.835859
min        -618.130000
25%       38033.490000
50%       91872.550000
75%      133716.490000
max      567595.430000
Name: TotalPayBenefits, dtype: float64

In [63]:
year.describe()

count    277355.000000
mean       2012.631963
std           1.077080
min        2011.000000
25%        2012.000000
50%        2013.000000
75%        2014.000000
max        2014.000000
Name: Year, dtype: float64

In [64]:
year.astype('O')

0         2011.0
1         2011.0
2         2011.0
3         2011.0
4         2011.0
           ...
277366    2014.0
277368    2014.0
277369    2014.0
277370    2014.0
277374    2014.0
Name: Year, Length: 277358, dtype: object

# `Histograms`

In [65]:
y2013 = pd.Index(year).get_loc(2013.0)
y2014 = pd.Index(year).get_loc(2014.0)

In [66]:
x1 = [i for i in range(0, y2013.start)]
y = overtimepay[:y2013.start]
plt.plot(x1, y, color='blue', label='2012')

x2 = [i for i in range(y2013.start, y2014.start)]
y = overtimepay[y2013.start:y2014.start]
plt.plot(x2, y, color='red', label='2013')

x3 = [i for i in range(y2014.start, y2014.stop)]
y = overtimepay[y2014.start:y2014.stop]
plt.plot(x3, y, color='yellow', label='2014')

plt.ylabel("OvertimePay")

plt.legend(loc='upper right')

AttributeError: ignored


The following instructions must be applied to columns columns BasePay, OvertimePay, Benefits, TotalPay, TotalPayBenefits, Year
1.  Calculate standard deviation and variance without applying the methods (std() и variance())
2.   Calculate standard deviation and variance by applying the methods (std() и variance())
3. Calculate coefficient of covariance and range
4. Calculate measures of central tendency
5. Apply describe() method
6. Build histograms
7. Build boxplots
8. Calculate IQR
8. Write a short summary of your findings (no more than 100 words). Are there any outliers? Anything special?